.title{
    color: wheat;
    font-size: 25px;
    font-weight: 600;


}
.container{
    background-color: brown;
    text-align: center;

}

.container * {
    margin: 10px;
}

.key{
    color: wheat;
    font-size: 18px;
    font-weight: 500;
}